Repository SadnaProject/nMarketTirkedu, pull requests merged in 2023-04, with the labels that each got.

#48 add the functions for Use case 2.3 2.4.a -c
  src/DomainLayer/MarketFacade.ts
  src/DomainLayer/Users/Basket.ts
  src/DomainLayer/Users/BasketProduct.ts
  src/DomainLayer/Users/Cart.ts
  src/DomainLayer/Users/Notification.ts
  src/DomainLayer/Users/User.test.ts
  src/DomainLayer/Users/User.ts
  src/DomainLayer/Users/UserRepo.ts
  src/DomainLayer/Users/UsersController.ts
Labels: store controller, user controller

#53 add test to all functions in user
  src/DomainLayer/MarketFacade.ts
  src/DomainLayer/Users/User.test.ts
  src/DomainLayer/Users/User.ts
  src/DomainLayer/Users/UsersController.ts
Labels: user controller, tests

#73 created classes of job controller by diagram
  src/DomainLayer/Jobs/FounderRole.ts
  src/DomainLayer/Jobs/ManagerRole.ts
  src/DomainLayer/Jobs/OwnerRole.ts
  src/DomainLayer/Jobs/PositionHolder.ts
  src/DomainLayer/Jobs/Role.ts
Labels: job controller

#88 fixed test, changed from DTOs
  src/DataLayer/PurchasesHistory/BasketPurchaseHistoryRepo.ts
  src/DataLayer/PurchasesHistory/CartPurchaseHistoryRepo.ts
  src/DataLayer/PurchasesHistory/ProductReviewsRepo.ts
  src/DataLayer/PurchasesHistory/ReviewRepo.ts
  src/DomainLayer/MarketFacade.ts
  src/DomainLayer/PurchasesHistory/BasketPurchaseHistory.ts
  src/DomainLayer/PurchasesHistory/CartPurchaseHistory.ts
  src/DomainLayer/PurchasesHistory/HasRepos.ts
  src/DomainLayer/PurchasesHistory/PaymentAdaptor.ts
  src/DomainLayer/PurchasesHistory/ProductPurchaseHistory.ts
  src/DomainLayer/PurchasesHistory/PurchasesHistory/BasketPurchaseHistoryRepo.ts
  src/DomainLayer/PurchasesHistory/PurchasesHistory/CartPurchaseHistoryRepo.ts
  src/DomainLayer/PurchasesHistory/PurchasesHistory/ProductPurchaseHistoryRepo.ts
  src/DomainLayer/PurchasesHistory/PurchasesHistory/ProductReviewsRepo.ts
  src/DomainLayer/PurchasesHistory/PurchasesHistory/ReviewRepo.ts
  src/DomainLayer/PurchasesHistory/PurchasesHistoryController.test.ts
  src/DomainLayer/PurchasesHistory/PurchasesHistoryController.ts
  src/DomainLayer/PurchasesHistory/Review.ts
  src/DomainLayer/Users/Basket.ts
  src/DomainLayer/Users/UsersController.ts
Labels: help wanted

#139 add test for cart user and basket and repo
  src/DomainLayer/MarketFacade.ts
  src/DomainLayer/Users/Basket.test.ts
  src/DomainLayer/Users/Cart.test.ts
  src/DomainLayer/Users/User.test.ts
  src/DomainLayer/Users/UserController.test.ts
  src/DomainLayer/Users/UserRepo.test.ts
  src/DomainLayer/Users/UsersController.ts
  src/ServiceLayer/Service.ts
  src/tests/Owner.test.ts
Labels: user controller, tests
